@use '../abstracts/' as *;

.wrapper {
  padding-inline: var(--su-600);
  margin-inline: auto;

  @include respond(sm) {
    max-width: 540px;
  }

  @include respond(md) {
    padding-inline: 0;
    max-width: 696px;
  }

  @include respond(lg) {
    max-width: 960px;
  }

  @include respond(xl) {
    max-width: 1110px;
  }
}

.grid {
  display: grid;
  gap: var(--content-spacing, 1rem);
}

.flex-group {
  display: flex;
  align-items: center;
  gap: var(--su-400);
}
