@use '../abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  color: var(--clr-neutral-200);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
}

.heading-primary,
.heading-secondary {
  font-weight: var(--fw-bold);
}

.heading-primary {
  font-size: var(--fs-heading-primary);
  line-height: 1.1;
  letter-spacing: -1px;
}

.heading-secondary {
  color: var(--clr-neutral-800);
  font-size: var(--fs-heading-secondary);
}
